<!DOCTYPE html>
<html ng-app="blog">
  <head>
    <meta charset="utf-8"/>
    <title>Блог</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body ng-controller="MainController as main">
    <header class="header">
      
    </header> <!-- end header -->
    <div class="page">
      <section class="page__main">
        <article class="article" ui-view>
          
        </article>
      </section> <!-- end page__main -->
      <aside class="page__aside">
        <div class="posts">
          <ul class="posts__years posts__years_reverse" reverse>
            <li class="posts__years-item" ng-repeat="(key, value) in main.postsList" ng-if="main.months = main.postsList[key]">
              <span class="posts__years-text" list>{{key}}</span>

              <ul class="posts__months" reverse>
                <li class="posts__months-item" ng-repeat="(key, value) in main.months" ng-if="main.posts = main.months[key]">
                  <span class="posts__months-text" list>{{key}}</span>

                  <ul class="posts__list" reverse>
                    <li class="posts__list-item" ng-repeat="post in main.posts">
                      <a class="posts__link" href="#/{{post.path}}">{{post.header}}</a>
                    </li>
                  </ul>

                </li>
              </ul>

            </li>
          </ul>
        </div>

      </aside> <!-- end page__aside -->
    </div> <!-- end page -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-router/build/angular-ui-router.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers/main.controller.js"></script>
    <script src="assets/js/services/posts.service.js"></script>
    <script src="assets/js/directives/list.directive.js"></script>
    <script src="assets/js/directives/reverse.directive.js"></script>
  </body>
</html>