.header {
  height: 100px;
  background: #ccc;
  margin-bottom: 20px;
} // end header

.page {
  display: table;
  width: 100%;
  &__aside {
    display: table-cell;
    width: 30%;
    background: #e5e5e5;
    height: 300px;
  }
  &__main {
    display: table-cell;
    width: 70%;
  }
} // end main