.header {
  height: 100px;
  background: #ccc;
  margin-bottom: 20px;
} // end header

.page {
  display: table;
  width: 100%;
  &__aside {
    display: table-cell;
    width: 30%;
    background: #e5e5e5;
    height: 300px;
  }
  &__main {
    display: table-cell;
    width: 70%;
  }
} // end page

.posts {
  &__months,
  &__list {
    display: none;
  }
  &__years {
    padding-right: 20px;
    list-style: none;
    &_active {
      .posts__months {
        display: block;
      }
    }
    &_reverse {
      display: inline-block;
      transform: rotate(180deg);
      transform-origin: 50%;
      .posts__years-item {
        transform: rotate(-180deg);
        transform-origin: 50%;
      }
    }
  }
  &__months {
    &_active {
      .posts__list {
        display: block;
      }
    }
    &_reverse {
      display: inline-block;
      transform: rotate(180deg);
      transform-origin: 50%;
      .posts__months-item {
        transform: rotate(-180deg);
        transform-origin: 50%;
      }
    }
  }
  &__years-text,
  &__months-text {
    cursor: pointer;
  }
} // end posts
